<!DOCTYPE html>
<html>
<head>
    <title>Apply</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <style>
        .job-card {
            background-color: #33475B;
            color: #FFFFFF;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .job-card:hover {
            background-color: #293A4A;
        }

        .job-card h3 {
            margin-top: 0;
        }

        .job-card button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Job Search</h1>
    <form method="GET" action="{{ url_for('apply') }}">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search_query" placeholder="Enter search query">
        <button class="search-button" type="submit">Search</button>
    </form>
    <h2>Search Results:</h2>
    <div class="job-cards-container">
        {% for job in jobs %}
        <div class="job-card">
            <h3>{{ job['CompanyName'] }}</h3>
            <p>Job Domain: {{ job['JobDomain'] }}</p>
            <p>Primary Skill: {{ job['PSkill'] }}</p>
            <p>Secondary Skill: {{ job['SSkill'] }}</p>
            <p>Role: {{ job['Role'] }}</p>
            <p>Years of Experience: {{ job['YoE'] }}</p>
            <p>Salary: {{ job['Salary'] }}</p>
            <button onclick="location.href='mailto:searchjobs@apply.com?subject={{ job['CompanyName'] }} - {{ job['JobDomain'] }} - {{ job['PSkill'] | replace(' ', '%20') }}'" class="apply-button">Apply Now</button>
        </div>
        {% endfor %}
    </div>
    

    
</body>
</html>
