<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

</head>
<body>
    <div class="banner">
        <h2>GET PLACED NOW</h2>
    </div>
    <div class="banner">
        <h2>ARE YOU A COMPANY LOOKING FOR RESOURCES? HIRE NOW!</h2>
    </div>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="Email">Email:</label>
        <input type="Email" id="Email" name="Email" required><br><br>
        <label for="Password">Password:</label>
        <input type="Password" id="Password" name="Password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
